absl-py 
aiohttp
aiosignal
altair
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse==1.6.3
async-timeout
attrs
backcall 
beautifulsoup4 
bleach 
blinker==1.4
Bottleneck 
brotlipy==0.7.0
cachetools 
certifi 
cffi 
charset-normalizer 
click 
colorama 
comm 
commonmark 
contourpy 
cryptography 
cycler 
debugpy
decorator 
defusedxml 
dlib 
docopt==0.6.2
entrypoints 
executing 
face-recognition==1.3.0
face-recognition-models 
fastjsonschema
flatbuffers
flit_core
fonttools==4.25.0
frozenlist
future
gast
gitdb
GitPython 
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
multidict
munkres==1.1.4
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
oauthlib
opt-einsum
packaging
pandas
pandocfilters
parso
pickleshare
Pillow==9.4.0
pipreqs==0.4.11
platformdirs
plotly
ply==3.11
pooch
prometheus-client
prompt-toolkit
protobuf==3.20.3
psutil
pure-eval
pyarrow==8.0.0
pyasn1
pyasn1-modules==0.2.8
PyAudio==0.2.13
pycparser
pydeck
Pygments
PyJWT
Pympler
pyOpenSSL
pyparsing
PyQt5==5.15.7
PyQt5-sip
pyrsistent
PySocks 
python-dateutil
pytz 
pywin32==305.1
pywinpty
PyYAML==6.0
pyzmq
requests
requests-oauthlib==1.3.0
rich 
rsa
scipy==1.10.0
semver
Send2Trash
sip
six
smmap
sniffio
soupsieve
SpeechRecognition==3.9.0
stack-data 
streamlit==1.19.0
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.10.0
tensorflow-estimator
termcolor
terminado
tinycss2
toml
toolz
tornado
traitlets
typing_extensions
tzlocal
urllib3
validators 
watchdog
wcwidth 
webencodings==0.5.1
websocket-client
Werkzeug 
widgetsnbextension
win-inet-pton 
wincertstore==0.2
wrapt
yarg==0.1.9
yarl 
zipp 
